.current-rating{
    height: 10px;
    background-color:green;
    background:url(star.png)
}
.tiny-star.star-rating-non-editable-container{
    background:url(star_clean.png);
    width:69px
}
.single-review{
    background: #dedede;
    padding: 15px;
    margin: 15px;
}